*.swp
*.swo
*.pyc
**/node_modules/**
**/.DS_Store

scripts/tmp
scripts/midkit
scripts/yelp
scripts/useful/toolset/private/*
!scripts/useful/toolset/private/__init__.py
private_main.sh

.cache_namespace
.secrets
