- name: "Installing pyenv"
  include_role:
    name: "vendor/markosamuli.pyenv"
  vars:
    # Source: https://github.com/markosamuli/ansible-pyenv
    pyenv_python37_version: "3.7.10"
    pyenv_python38_version: "3.8.9"
    pyenv_global: "{{ pyenv_python37_version }}"
    pyenv_python_versions:
      - "{{ pyenv_python37_version }}"
      - "{{ pyenv_python38_version }}"

# These steps are needed, otherwise there's going to be weird SSL issues
# in Python that you have no idea what it's about. Apparently though,
# we only need to do this for *one* python, since the default SSL certificates
# are shared on the system.
# Source: https://stackoverflow.com/a/44649450/13340678
- name: "Installing certifi"
  pip:
    name: certifi
    state: present
  environment:
    PYENV_VERSION: 3.7.10

- name: "Symlinking certifi's certificate file to local machine"
  become: "yes"
  script:
    cmd: symlink-certifi.py
  environment:
    PYENV_VERSION: 3.7.10
